enable_wlan:
  fields:
    target:
      required: true
      selector:
        target:
          entity:
            integration: unifi_wifi
            domain: image
    enabled:
      required: true
      example: true
      selector:
        boolean:

hide_ssid:
  fields:
    target:
      required: true
      selector:
        target:
          entity:
            integration: unifi_wifi
            domain: image
    hide_ssid:
      required: true
      example: false
      selector:
        boolean:

hotspot_password:
  fields:
    coordinator:
      required: true
      selector:
        text:
    password:
      required: false
      selector:
        text:
    random:
      required: false
      default: true
      example: true
      selector:
        boolean:
    random_settings:
      collapsed: true
      fields:
        method:
          required: false
          example: "word"
          selector:
            select:
              options:
                - "char"
                - "word"
                - "xkcd"
                - "rainbow"
              mode: dropdown
        punctuation:
          required: false
          example: false
          selector:
            boolean:
        delimiter:
          required: false
          example: "|"
          selector:
            text:
        min_length:
          required: false
          example: 5
          selector:
            number:
              min: 3
              max: 9
        max_length:
          required: false
          example: 8
          selector:
            number:
              min: 3
              max: 9
        word_count:
          required: false
          example: 4
          selector:
            number:
              min: 3
              max: 6
        char_count:
          required: false
          example: 24
          selector:
            number:
              min: 8
              max: 63

wlan_password:
  fields:
    target:
      required: true
      selector:
        target:
          entity:
            integration: unifi_wifi
            domain: image
    password:
      required: false
      selector:
        text:
    random:
      required: false
      default: true
      example: true
      selector:
        boolean:
    random_settings:
      collapsed: true
      fields:
        method:
          required: false
          example: "word"
          selector:
            select:
              options:
                - "char"
                - "word"
                - "xkcd"
                - "rainbow"
              mode: dropdown
        punctuation:
          required: false
          example: false
          selector:
            boolean:
        delimiter:
          required: false
          example: "|"
          selector:
            text:
        min_length:
          required: false
          example: 5
          selector:
            number:
              min: 3
              max: 9
        max_length:
          required: false
          example: 8
          selector:
            number:
              min: 3
              max: 9
        word_count:
          required: false
          example: 4
          selector:
            number:
              min: 3
              max: 6
        char_count:
          required: false
          example: 24
          selector:
            number:
              min: 8
              max: 63